$pomodoro-themeColor: #F87070;
$pomodoro-blue: #70F3F8;
$pomodoro-purple: #D881F8;
$pomodoro-grey: #D7E0FF;
$pomodoro-purple-dark: #1E213F;
$pomodoro-purple-superdark: #161932;
$pomodoro-white: #FFFFFF;
$pomodoro-dark-white: #EFF1FA;